body { background: #51e8ca; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 48px; display: flex; }
.block-helper-0 { color: #1bf95c; font-size: 15px; margin-bottom: 5px; }
.block-product-1 { color: #1d1128; font-size: 21px; margin-bottom: 5px; }
.block-router-2 { color: #e33114; font-size: 16px; margin-bottom: 5px; }
.block-uploader-3 { color: #5baf59; font-size: 18px; margin-bottom: 5px; }
.block-helper-4 { color: #7f175e; font-size: 14px; margin-bottom: 5px; }
.block-config-5 { color: #c95cdf; font-size: 14px; margin-bottom: 5px; }
.block-invoice-6 { color: #e68114; font-size: 17px; margin-bottom: 5px; }
.block-token-7 { color: #4e8e6c; font-size: 17px; margin-bottom: 5px; }
.block-router-8 { color: #f328fc; font-size: 16px; margin-bottom: 5px; }
.block-invoice-9 { color: #30b257; font-size: 13px; margin-bottom: 5px; }
.block-sms-10 { color: #77153a; font-size: 18px; margin-bottom: 5px; }